body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

header {
  text-align: center;
  display: block;
    width: 100%;
    padding: 20px 0 20px 0;
  font-weight: 300;
}

header h1 {
  font-size: 24pt;
  text-align: center;
  font-weight: 350;
}

div.list {
  line-height: 2;
}

div.container {
  display: inline-block;
  text-align: center;
  padding: 5px;
  height: 200px;
  width: 200px;
}

div.container img {
  width: 100%;
  height: auto;
}

nav {
  position: sticky;
  width: 100%;
  font-size: 15pt;
}

nav a {
  text-decoration-line: none;
  color: #262626;
  padding: 0 16px 0 16px;
  display:inline-block;
  letter-spacing: 0.02em;
}

nav a:hover {
  background-color: #F4F4F4;
  transition: 400ms;
}

.current {
  font-weight: 500;
  color: #000000;
}

b {
  font-weight: 500;
  letter-spacing: 0.02em;
}

main {
  display: block;
  padding: 5px;
  margin: 0 15% 0 15%;
  letter-spacing: 0:01em;
  font-weight: 250;
}

main h3 {
  font-size: 20pt;
  font-weight: 500;
}

main p {
  margin-top: 1em;
  margin-bottom: 1em;
}

footer {
  font-weight: 200;
  color: #737373;
  text-align: center;
  line-height: 30px;
}

main p a {
  text-decoration-line: none;
  color: #4D70B8;
}

main p a:hover {
  color: #003399;
  text-decoration-line: underline;
  transition: 100ms;
}

h4 {
  font-size: 16pt;
  font-weight: 450;
}

h5 {
  font-size: 14pt;
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 1em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #c4c4c4;
  text-align: left;
  padding: 12px;
}

th {
  background-color: #dadada;
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td:first-child {
  font-style: italic;
}

footer p {
  margin: 0;
  padding: 0;
}

.fa {
  text-align: center;
  text-decoration: none;
  background: white;
  color: #737373;
}

.fa:hover {
  color: #4d4d4d;
  transition: 150ms;
}
