body {
  font-family: Helvetica, Arial, sans-serif;
}

header {
  text-align: center;
  display: block;
    width: 100%;
    padding: 20px 0 20px 0;
  font-weight: 300;
}

header h1 {
  font-size: 24pt;
  text-align: center;
  font-weight: 350;
}

div.container {
  display: inline-block;
  text-align: center;
  padding: 5px;
  height: 200px;
  width: 200px;
}

div.container img {
  width: 100%;
  height: auto;
}

.here {
  font-weight: 500;
  color: #000000;
}

nav {
  position: sticky;
  width: 100%;
  font-size: 15pt;
}

nav a {
  color: #262626;
  padding: 0 16px 0 16px;
  display:inline-block;
  letter-spacing: 0.02em;
}

nav a:hover {
  background-color: #F4F4F4;
  transition: 400ms;
}

main {
  display: block;
  width: 75%;
  margin: 20px auto;
  padding: 20px;
}

main h3 {
  font-size: 18pt;
  font-weight: 500;
}

p {
  color: #4D4D4D;
}
